@tailwind base;
@layer base {
  h1 {
    @apply text-[32px];
  }
  h2 {
    @apply text-[28px];
  }
  h3 {
    @apply text-[24px];
  }
  h4 {
    @apply text-[20px];
  }
  h5 {
    @apply text-[18px];
  }
  h6 {
    @apply text-[16px];
  }
}
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat&family=Inter&family=Poppins:wght@400;700&family=Inter+Tight:wght@700&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.css";
@layer components {
  #sectionBellowHeader {
    @apply grid grid-cols-1 p-2 md:grid-cols-[55%_45%] md:p-6 xl:pt-20;
  }
  #sectionBellowHeader > * {
    @apply m-2;
  }
  #sectionBellowHeader h1 {
    @apply md:self-end md:text-5xl font-CarterOne 2xl:pl-8 md:col-[1/3] lg:col-[1/2];
  }
  #sectionBellowHeader p:nth-of-type(1) {
    @apply md:col-[1/2] 2xl:pl-8 md:mt-8 2xl:pr-64;
  }
  #sectionBellowHeader p:nth-of-type(1) br {
    @apply block content-[''] mt-5;
  }
  #sectionBellowHeader p:nth-of-type(2) {
    @apply lg:col-[2/3] lg:row-[1/3] m-auto w-full justify-center;
  }
  #sectionBellowHeader p:nth-of-type(2) > img {
    @apply m-auto xl:w-11/12;
  }
  #contentBelowVideo > h2 {
    @apply font-bold text-2xl mb-4 md:mt-12 !font-CarterOne;
  }
  #contentBelowVideo > * {
    @apply m-2;
  }
  #contentBelowVideo > h1,
  #contentBelowVideo > h2,
  #contentBelowVideo > h3,
  #contentBelowVideo > h4,
  #contentBelowVideo > h5,
  #contentBelowVideo > h6 {
    @apply font-bold mb-4 md:mt-12 !font-CarterOne;
  }
  #sectionBellowTestimonialsTitle h2 {
    @apply max-w-3xl mx-4 mb-8 text-4xl xl:px-16 font-CarterOne;
  }
  #sectionBellowTestimonialsTitle p {
    @apply mx-4 mb-5 xl:px-16;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  #modalOfCar ul {
    @apply list-inside list-disc font-semibold ml-2 mt-5;
  }
  #modalOfCar ul li strong {
    @apply font-medium;
  }
  #modalOfCar div div > p {
    @apply font-Poppins font-light text-lg;
  }
  #modalOfCar div div > p strong {
    @apply font-bold;
  }
  #toggleContent div h1,
  #toggleContent div h2,
  #toggleContent div h3,
  #toggleContent div h4,
  #toggleContent div h5,
  #toggleContent div h6 {
    @apply font-CarterOne mb-5;
  }
  #toggleContent div ul {
    list-style: inside;
    @apply mb-5;
  }
  #toggleContent div ol {
    list-style: auto;
    @apply mb-5;
  }
  #toggleContent div p {
    @apply mb-5;
  }
  #toggleContent div a {
    @apply text-blue-500 hover:text-blue-700 transition duration-300;
  }
  #cookie h1,
  #cookie h2,
  #cookie h3,
  #cookie h4,
  #cookie h5,
  #cookie h6 {
    @apply font-medium leading-6 text-gray-900;
  }
  #cookie a {
    @apply text-blue-700 underline;
  }
  #iubenda-cs-banner > div > div:nth-of-type(2) > a {
    display: none !important;
  }
}

/* custom-styles.css */
:root {
  --react-international-phone-border-radius: 0px;
  --react-international-phone-height: 40px;
}
